# https://github.com/korfuri/bazel-travis

# Enable warnings
build --cxxopt -std=c++14
# build --cxxopt -Wall
# build --cxxopt -Werror
# build --cxxopt -Wextra
# build --cxxopt -Woverloaded-virtual
# build --cxxopt -Wpedantic
# build --cxxopt -Wsequence-point
# build --cxxopt -Wunused
# build --cxxopt -pedantic-errors

# Disable warnings
# build --cxxopt -Wno-unused-function